.symbol {
  font-size: 50px;
}

.symbol_correct {
  color: green;
}

.word_incorrect {
  background: red;
  color: #fff;
}
.timer {
  font-size: 30px;
  margin-left: 100px;
  color: rgb(144, 211, 43);
}
.timer_red {
  color: rgb(179, 24, 24);
  font-size: 40px;
}


